#bloc_page
{
	 width: auto;
 
}
 nav
{
     width: auto;
     text-align: left;
}
    
nav ul
{
     flex-direction: column;
}

nav li
{
     padding-left: 4px;
}
    
nav a
{
     font-size: 1.1em;
}
    
nav a:hover
{
    border-bottom: 0;
}
section
    {
        flex-direction: column;
    }

    article, aside
    {
        width: auto;
        margin-bottom: 15px;
    }
    
    #fleche_bulle
    {
        display: none;
    }
    
    #photo_zozor img
    {
        width: 110px;
        float: right;
        margin-left: 15px;
    }
    
    aside p:last-child
    {
        text-align: center;
    }